{% ckan_extends %} 

{% block header_wrapper %} 
  <nav class="navbar navbar-expand-lg fixed-top masthead bg-opacity-20 bg-slate-900">
    <div class="container px-0 py-2">

      <!-- Left hand side -->
      <div class="ml-4 mr-auto">
        {% block header_debug %} 
        {% if g.debug and not g.debug_supress_header %}
        <div class="absolute z-10 pt-px -top-3 left-4 debug">Controller : {{ c.controller }} | Action : {{ c.action }}</div>
        {% endif %} 
        {% endblock %}

        {% block header_logo %}
        {% if g.site_logo %}
        <a class="z-50 p-0 mt-1 md:ml-0 navbar-brand logo"
          href="{{ h.url_for('home.index') }}">
          <img class="float-left" src="/images/SUBAK_LOGO.png" aria-label="Home page" />
        </a>
        {% endif %}
        {% include 'home/snippets/catalogue_badge.html' %}
        {% endblock %}
      </div>

      <!-- Right hand side -->
      <div class="d-flex">
        <button data-target="#main-navigation-toggle" data-toggle="collapse" class="mr-1 navbar-toggle collapsed" type="button"
          aria-label="expand or collapse" aria-expanded="false">
          <span class="sr-only">{{ _('Toggle navigation') }}</span>
          <span class="fa fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-navigation-toggle">
          {% block header_site_navigation %}
          <nav class="section navigation">
            <ul class="nav nav-pills">
              <li>
                <a class="px-3 no-underline hover:text-slate-300" href="{{ h.url_for('custom_pages.submit_dataset') }}">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="relative inline w-6 h-6 -top-px text-subak-burnt-copper">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                  </svg> Submit Data</a>
              </li>
              <li>
                <a class="px-3 no-underline hover:text-slate-300" href="{{ h.url_for('dataset.search') }}">Datasets</a>
              </li>
              <li>
                <a class="px-3 no-underline hover:text-slate-300" href="{{ h.url_for('organization.index') }}">Publishers</a>
              </li>
              <li>
                <a class="px-3 no-underline hover:text-slate-300" href="{{ h.url_for('custom_pages.climate_data_research') }}">Research</a>
              </li>
              <li class="pt-3 mt-2 ml-3 border-t border-slate-400 md:border-t-0 md:mt-0 md:pt-0">
                {% include 'header_account.html' %}
              </li>
            </ul>
          </nav>
          {% endblock %}
        </div>
      </div>

    </div>
  </nav>
{% endblock %}