{% block header_account_container_content %} 
  {% if c.userobj %}
    <div class="relative block align-middle account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
        {% block header_account_logged %} 
          {% set new_activities = h.new_activities() %}
          <span class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
            {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)',
            new_activities)
            %}
            <a href="{{ h.url_for('dashboard.index') }}" class="flex items-center no-underline image dashboard-link group" title="{{ _("Dashboard") }}">
              <span class="relative px-3 font-mono truncate username top-px group-hover:text-slate-300 max-w-full md:max-w-[7em] lg:max-w-[20em] block">
                  {{ c.userobj.display_name }}
              </span>
              <div class="relative inline-block align-middle">
                <div class="object-cover overflow-hidden border rounded-full border-white-500 w-[40px] h-[40px]">
                    {{ h.user_image((c.user if c and c.user else ''), size=40) }}
                </div>
                {% if new_activities > 0 %}
                  <span class="absolute badge -bottom-2 -right-2">{{ new_activities }}</span>
                {% endif %}
              </div>
            </a>
          </span>
        {% endblock %}
    </div>
  {% else %}
    {% block header_account_notlogged %}
      <div class="border-l-2">
        <li>{% link_for _('Log in'), named_route='user.login' %}</li>
      </div>  
    {% endblock %}
  {% endif %}
{% endblock %}