{% ckan_extends %} 

{% block header_wrapper %} 
  <nav class="navbar navbar-expand-lg fixed-top masthead bg-opacity-20 bg-slate-900">
    <div class="container px-0 py-2">

      <!-- Left hand side -->
      <div class="ml-4 mr-auto">
        {% block header_debug %} 
        {% if g.debug and not g.debug_supress_header %}
        <div class="absolute z-10 -top-7 debug">Controller : {{ c.controller }} | Action : {{ c.action }}</div>
        {% endif %} 
        {% endblock %}

        {% block header_logo %}
        {% if g.site_logo %}
        <a class="z-50 p-0 mt-1 md:ml-0 navbar-brand logo"
          href="{{ h.url_for('home.index') }}">
          <img class="float-left" src="/images/SUBAK_LOGO.png" aria-label="Home page" />
        </a>
        {% endif %}
        {% include 'home/snippets/catalogue_badge.html' %}
        {% endblock %}
      </div>

      <!-- Right hand side -->
      <div class="d-flex">
        <button data-target="#main-navigation-toggle" data-toggle="collapse" class="mr-1 navbar-toggle collapsed" type="button"
          aria-label="expand or collapse" aria-expanded="false">
          <span class="sr-only">{{ _('Toggle navigation') }}</span>
          <span class="fa fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-navigation-toggle">
          {% block header_site_navigation %}
          <nav class="section navigation">
            <ul class="nav nav-pills">
              <li>
                <a class="px-3 no-underline hover:text-slate-300" href="/pages/add-data"><img class="relative inline mr-2 -top-px" src="{{ '/images/add.svg' }}" class="inline">Add Data</a>
              </li>
              <li>
                <a class="px-3 no-underline hover:text-slate-300" href="/dataset/">Datasets</a>
              </li>
              <li>
                <a class="px-3 no-underline hover:text-slate-300" href="/organization/">Organizations</a>
              </li>
              {#<li class="pr-4">
                <a class="px-3 no-underline hover:text-gray-300" href="/dataset/">
                  <svg xmlns="http://www.w3.org/2000/svg" class="relative inline w-5 h-5 -top-px" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                  </svg>
                </a>
              </li>#}
              <li class="pt-3 mt-2 border-t border-slate-400 md:border-l md:border-t-0 md:mt-0 md:pt-0">
                {% include 'header_account.html' %}
              </li>
            </ul>
          </nav>
          {% endblock %}
        </div>
      </div>

    </div>
  </nav>
{% endblock %}