{% block header_account_container_content %} 
  {% if c.userobj %}
    <div class="account avatar authed relative block px-4 border-l border-white-500 align-middle" data-module="me" data-me="{{ c.userobj.id }}">
        {% block header_account_logged %} 
          {% set new_activities = h.new_activities() %}
          <span class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
            {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)',
            new_activities)
            %}
            <a href="{{ h.url_for('dashboard.index') }}" class="image dashboard-link no-underline group" title="{{ _("Dashboard") }}">
              <span class="username font-mono px-4 relative top-px group-hover:text-gray-300">
                  {{ c.userobj.display_name }}
              </span>
              <div class="relative inline-block align-middle">
                <div class="rounded-full overflow-hidden border border-white-500">
                  <div class="rounded-full overflow-hidden border border-black-500">
                    {{ h.user_image((c.user if c and c.user else ''), size=35) }}
                  </div>
                </div>
                {% if new_activities > 0 %}
                  <span class="absolute badge -bottom-2 -right-2">{{ new_activities }}</span>
                {% endif %}
              </div>
            </a>
          </span>
        {% endblock %}
    </div>
  {% else %}
    {% block header_account_notlogged %}
      <div class="border-l-2">
        <li>{% link_for _('Log in'), named_route='user.login' %}</li>
      </div>  
    {% endblock %}
  {% endif %}
{% endblock %}