<div class="bg-white col-12 full-width">
    <div class="container px-4 py-6 md:px-16 md:py-10">
        <div class="flex flex-col items-start gap-6 px-0 md:flex-row md:items-center">
            <div class="">
                <h2 class="m-0 text-2xl md:text-3xl text-subak-deep-ocean">
                    <svg xmlns="http://www.w3.org/2000/svg" class="relative inline w-10 h-10 text-subak-deep-ocean -top-[3px]" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M9 9a2 2 0 114 0 2 2 0 01-4 0z" />
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a4 4 0 00-3.446 6.032l-2.261 2.26a1 1 0 101.414 1.415l2.261-2.261A4 4 0 1011 5z" clip-rule="evenodd" />
                    </svg> Can't find the data you're looking for?</h2>
                <p class="p-1 pt-3 m-0 text-sm">We aim to constantly improve the data catalogue to help you find climate-related datasets. If you can't find a dataset that fits your needs, please file a request and we will try our best to find and index one or more suitable datasets.</p>
            </div>
            <a class="block px-4 py-2 text-lg text-white no-underline bg-opacity-100 border rounded whitespace-nowrap bg-subak-deep-ocean hover:bg-opacity-80"
                href="https://airtable.com/shrakRbosU1b6QjLZ">Request a dataset</a>
            </a>
        </div>
    </div>
</div>

<div class="text-white background-1 col-12 full-width">
    <div class="container p-4 md:p-16">
        <h3 class="pb-3 font-mono text-white md:pt-12">WHAT IS THE DATA COOPERATIVE</h3>
        <h2 class="pb-3 text-4xl text-white">The Data Cooperative will allow Subak members, fellows and other climate change organisations to better track the state of the world, identify climate risks and opportunities, and to measure climate impact.</h2>

        <div class="flex flex-col gap-6 py-12 md:gap-12 sm:flex-row">
            <div class="flex-1">
                <img src="/images/trustedAsset+4.png">
                <h3 class="text-2xl text-white">Community</h3>
                <p class="leading-6 font-body">We're creating an ecosystem of climate innovators. Find out more about our <a class="text-subak-sky-blue" href="https://subak.org/our-programmes">Programmes</a> and our <a class="text-subak-sky-blue" href="https://subak.org/our-community">Community</a>.</p>
            </div>
            <div class="flex-1">
                <img src="/images/connectedAsset+2.png">
                <h3 class="text-2xl text-white">Guidance</h3>
                <p class="leading-6 font-body">We want everyone to have the knowledge they need to work with and produce open climate data.</p>
            </div>
            <div class="flex-1">
                <img src="/images/searchableAsset+1.png">
                <h3 class="text-2xl text-white">Catalogue</h3>
                <p class="leading-6 font-body"><span class="p-1 bg-subak-burnt-copper">You are here.</span> A curated portal of datasets to speed up work on climate.</p>
            </div>
        </div>
    </div>
</div>

<div class="text-white bg-subak-burnt-copper col-12 full-width">
    <div class="container flex content-center justify-center p-4 md:p-16 place-items-center">
        <p class="pt-5 text-lg text-white">Jump start your journey with our Data Cooperative by joining the Subak accelerator! <a class="text-subak-sky-blue" href="https://subak.org/our-programmes">Learn more</a></p>
    </div>
</div>

<div class="bg-subak-stone-grey col-12 full-width">
    <div class="container p-4 pt-0 md:p-16">
        <h2 class="font-mono text-2xl text-subak-burnt-copper">ABOUT</h2>
        <div style="background-image: url('/images/subak-tribs-lightbluewhite.jpg')" class="flex bg-cover">
            <div class="flex flex-col gap-4 p-4 m-8 mt-32 bg-white bg-opacity-80 w-fit">
                <div>
                    <p><a href="https://forms.gle/VBKVwhoP15GHSJQ58" class="font-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" class="relative inline w-6 h-6 -top-px" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                        Feedback Form
                    </a></p>
                </div>
                <div>
                    <p><svg xmlns="http://www.w3.org/2000/svg" class="relative inline w-6 h-6 -top-px" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" /></svg>
                    Get in touch at <a href="mailto:datacooperative@subak.org" class="font-bold">datacooperative@subak.org</a></p>
                </div>
                <div>
                    <p><a href="https://miro.com/app/board/uXjVOTyBQfA=/?invite_link_id=327343310502" class="font-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" class="relative inline h-6 -top-px sw-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7" /></svg>
                        Data Catalogue Roadmap
                    </a></p>
                </div>
            </div>
        </div>


        <div x-data="{ open: false }" class="border-b border-slate-300">
            <h3 class="flex items-center justify-between gap-2 text-2xl cursor-pointer hover:text-slate-600"
                x-on:click="open = !open">
                <span>Why are we doing this?</span>
                <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" class="relative w-6 h-6 top-px shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="relative w-6 h-6 top-px shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </h3>
            <div x-show="open">
                <p class="leading-6 font-body">We believe open data is a key driver of innovation However too often in the climate sector, valuable insights remain siloed within organisations. Climate data is opaque, messy and locked away. We’re looking to change that.</p>
            </div>
        </div>

        <div x-data="{ open: false }" class="border-b border-slate-300">
            <h3 class="flex items-center justify-between gap-2 text-2xl cursor-pointer hover:text-slate-600"
                x-on:click="open = !open">
                <span>What is the Subak Data Catalogue?</span>
                <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" class="relative w-6 h-6 top-px shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="relative w-6 h-6 top-px shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </h3>
            <div x-show="open">
                <p class="leading-6 font-body">A collection of climate and energy data resources, starting with data created and curated by our <a href="https://subak.org/members" alt="Subak Members">Member Organisations</a>, the datasets they use in their work, and expanding to a wider range of datasets into the future. We believe curating datasets that are well documented and clearly connected can accelerate our ecosystem - our Data Cooperative community.</p>
                <p class="leading-6 font-body">Strictly this site is a metadata catalogue - data about data. We at Subak aren't creating datasets of our own, and we don't want to mirror other folks datasets. What we want to do is catalogue what is already out there, signpost and increase visibility, and increase the quality of what is already being shared. That means more emphasis on metadata standards, machine readability and data quality.</p>
            </div>
        </div>

        <div x-data="{ open: false }" class="border-b border-slate-300">
            <h3 class="flex items-center justify-between gap-2 text-2xl cursor-pointer hover:text-slate-600"
                x-on:click="open = !open">
                <span>What is Subak?</span>
                <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" class="relative w-6 h-6 top-px shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="relative w-6 h-6 top-px shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </h3>
            <div x-show="open">
                <p class="leading-6 font-body">The world's first accelerator for not-for-profits fighting climate change with data. Read more <a href="https://subak.org/about-us" alt="About Subak">here</a>. We find and fund individuals and organisations, and help them maximise their impact through our accelerator programme and immersing them in a community of practitioners.</p>
            </div>
        </div>

        <div x-data="{ open: false }" class="border-b border-slate-300">
            <h3 class="flex items-center justify-between gap-2 text-2xl cursor-pointer hover:text-slate-600"
                x-on:click="open = !open">
                <span>Who is this for?</span>
                <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" class="relative w-6 h-6 top-px shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="relative w-6 h-6 top-px shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </h3>
            <div x-show="open">
                <p class="leading-6 font-body">Anyone who makes use of climate data. Our first users are the analysts, researchers and engineers at not-for-profit organisations fighting climate change. We know there are a multitude of different people who use climate data for a huge range of different tasks and we hope to serve a range of different communities.</p>
            </div>
        </div>

        <div x-data="{ open: false }" class="border-b border-slate-300">
            <h3 class="flex items-center justify-between gap-2 text-2xl cursor-pointer hover:text-slate-600"
                x-on:click="open = !open">
                <span>Where do we source our datasets?</span>
                <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" class="relative w-6 h-6 top-px shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="relative w-6 h-6 top-px shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </h3>
            <div x-show="open">
                <p class="leading-6 font-body">We have source data from a range of existing portals and websites. We expect data to be published on the web and don't intend generally to solely host data on the Catalogue. We have published data shared by the following Subak Members and Fellows:</p>
                <div class="flex flex-wrap gap-4 my-2 text-sm">
                    {% set orgs = h.get_subak_coop_orgs() %}
                    {% if orgs %}
                        {% for org in orgs %}
                            {% if org %}
                            <div class="flex gap-1 whitespace-nowrap">
                                <img class="max-h-5" src="{% if h.is_url(org.image_url) %}{{ org.image_url }}{% else %}/uploads/group/{{ org.image_url }}{% endif %}" />
                                <a class="text-slate-500" href="/organization/{{ org['name'] }}">{{ org['title'] }}</a>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <p class="leading-6 font-body">The majority of datasets have been aggregated from <a href="https://data.subak.org/harvest/">this list of data portals</a> and will add to it over time.</p>
            </div>
        </div>

        <div x-data="{ open: false }" class="border-b border-slate-300">
            <h3 class="flex items-center justify-between gap-2 text-2xl cursor-pointer hover:text-slate-600"
                x-on:click="open = !open">
                <span>How can I add my data?</span>
                <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" class="relative w-6 h-6 top-px shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="relative w-6 h-6 top-px shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </h3>
            <div x-show="open">
                <p class="leading-6 font-body">Create an account and let us know at datacooperative@subak.org what data you would like to share. We can then make you an administrator for a publisher organisation you can use to share datasets.</p>
            </div>
        </div>

        <div x-data="{ open: false }" class="border-b border-slate-300">
            <h3 class="flex items-center justify-between gap-2 text-2xl cursor-pointer hover:text-slate-600"
                x-on:click="open = !open">
                <span>How is the data licensed? Can I use it freely?</span>
                <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" class="relative w-6 h-6 top-px shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="relative w-6 h-6 top-px shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </h3>
            <div x-show="open">
                <p class="leading-6 font-body">We catalogue data that has been released with open licences as well as more restrictive licenses to give the fullest possible picture of available data. Most <strong>published datasets</strong> display a reference to the licence under which their owner has released them. This is available on each dataset page. If no licence is mentioned, users should consult any licence conditions that are available on the original portal page or publishing page for the dataset, if available.</p>
                <p class="leading-6 font-body">Whether or not a licence is available, copyright always remains with the data author unless explicitly given away using for example a <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0 license</a>.</p>
                <p class="leading-6 font-body">The <strong>metadata</strong> in Subak's Data Catalogue is licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>, where it does not fall under the license of the individual dataset concerned. All of the content on Subak's Data Catalogue (that is - not <strong>datasets</strong> or <strong>metadata</strong>), is also released under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
            </div>
        </div>

        <div x-data="{ open: false }">
            <h3 class="flex items-center justify-between gap-2 text-2xl cursor-pointer hover:text-slate-600"
                x-on:click="open = !open">
                <span>How did you make the Catalogue?</span>
                <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" class="relative w-6 h-6 top-px shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="relative w-6 h-6 top-px shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </h3>
            <div x-show="open">
                <p class="leading-6 font-body">This website runs using CKAN. In their own words:</p>
                <blockquote class="text-base">
                    <p class="leading-6 font-body">CKAN is the world’s leading open-source data portal platform. CKAN is a complete out-of-the-box software solution that makes data accessible and usable – by providing tools to streamline publishing, sharing, finding and using data (including storage of data and provision of robust data APIs). CKAN is aimed at data publishers (national and regional governments, companies and organizations) wanting to make their data open and available.</p>
                    <p class="leading-6 font-body">CKAN is used by governments and user groups worldwide and powers a variety of official and community data portals including portals for local, national and international government, such as the UK’s data.gov.uk and the European Union’s publicdata.eu, the Brazilian dados.gov.br, Dutch and Netherland government portals, as well as city and municipal sites in the US, UK, Argentina, Finland and elsewhere.</p>
                    <p class="leading-6 font-body">CKAN: http://ckan.org/</p>
                </blockquote>
                <p class="leading-6 font-body">We have extended the core functionality, leaning on the extensive work of the CKAN community and other users. The code that runs this site lives here: <a href="https://github.com/ClimateSubak/docker-ckan/">https://github.com/ClimateSubak/docker-ckan/</a></p>
            </div>
        </div>
        
    </div>
</div>