<div class="relative left-0 flex flex-col gap-4 -mb-12 lg:flex-row md:-mb-24 -top-24 md:-top-36">
    <div class="flex flex-1 bg-white rounded-md shadow-lg">
        <div style="background-image: url('/images/climate-data-research-header.jpg')" class="w-36 md:w-48 shrink-0 rounded-l-[0.35em] bg-cover bg-center"></div>
        <div class="flex flex-col items-start justify-between gap-1 px-5 py-4 md:px-8 md:py-6">
            <div>
                <h2 class="mt-0 mb-1 text-xl md:text-2xl">Climate data research</h2>
                <p class="">Original research on climate data topics produced by Subak.</p>
            </div>
            <a class="px-4 py-2 text-white no-underline bg-opacity-100 rounded bg-subak-burnt-copper hover:bg-opacity-80" href="/climate-data-research">Read our research</a>
        </div>
    </div>

    <div class="flex flex-1 bg-white rounded-md shadow-lg">
        <div style="background-image: url('/images/showcase/power-plants.jpg')" class="w-36 md:w-48 shrink-0 rounded-l-[0.35em] bg-cover bg-center"></div>
        <div class="flex flex-col items-start justify-between gap-1 px-5 py-4 md:px-8 md:py-6">
            <div>
                <h2 class="mt-0 mb-1 text-xl md:text-2xl">Power Plant Data Showcase</h2>
                <p class="">Our first data focus is on the power sector, which needs to rapidly decarbonise to hit climate targets and electrify other sectors.</p>
            </div>
            <a class="px-4 py-2 text-white no-underline bg-opacity-100 rounded bg-subak-meadow-teal hover:bg-opacity-80" href="/showcase/power-plants">Visit the showcase</a>
        </div>
    </div>
</div>
