<div class="px-16">
    <div class="relative left-0 -top-24 -mb-12 rounded-md border-2 border-gray-200 bg-white flex">
        <div class="w-48 shrink-0 rounded-l-[0.35em] bg-[url('/images/showcase/power-plants.jpg')] bg-cover bg-center"></div>
        <div class="px-8 py-6 flex flex-col gap-1">
            <h2 class="m-0 text-2xl">Power Plant Data Showcase</h2>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a class="rounded bg-subak-meadow-teal px-4 py-2 text-white self-end" href="/showcase/power-plants">Visit the showcase</a>
        </div>
    </div>
</div>
