<div class="container px-32">
    <div class="relative">
        <div class="absolute left-0 -top-16 rounded-md border border-gray-200 bg-white flex">
            <img class="w-32 rounded-l-[0.35em]" src="/images/showcase/power-plants.jpg" />
            <div class="p-8">
                <h2 class="m-0">Power Plant Data</h2>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a class="rounded bg-subak-meadow-teal px-4 py-2 text-white" href="/showcase/power-plants">Visit the showcase</a>
            </div>
        </div>
    </div>
</div>
