<div class="px-0 lg:px-16">
    <div class="relative left-0 flex -mb-12 bg-white rounded-md shadow-lg md:-mb-24 -top-24 md:-top-36">
        <div style="background-image: url('/images/showcase/power-plants.jpg')" class="w-36 md:w-48 shrink-0 rounded-l-[0.35em] bg-cover bg-center"></div>
        <div class="flex flex-col gap-1 px-5 py-4 md:px-8 md:py-6">
            <h2 class="m-0 text-xl md:text-2xl">Power Plant Data Showcase</h2>
            <p class="">Our first data focus is on the power sector, which needs to rapidly decarbonise to hit climate targets and electrify other sectors.</p>
            <a class="self-end px-4 py-2 text-white rounded bg-subak-meadow-teal" href="/showcase/power-plants">Visit the showcase</a>
        </div>
    </div>
</div>
