{% set stats = h.get_site_statistics() %}

<div class="col-12 full-width bg-subak-deep-ocean">
    <div class="container p-16">
        <h2 class="text-2xl text-white">Subak Data Catalogue Statistics</h2>
        {% block stats_group %}
        <div class="grid grid-cols-2 gap-12 p-12">
            <div class="flex justify-center">
                <a href="{{ h.url_for('dataset.search') }}" class="text-white">
                <strong class="text-6xl text-white hover:no-underline">{{ h.SI_number_span(stats.dataset_count) }}</strong>
                <br>
                    {{ _('dataset') if stats.dataset_count == 1 else _('datasets') }}
                </a>
            </div>
            <div class="flex justify-center">
                <a href="{{ h.url_for(controller='organization', action='index') }}" class="text-white">
                <strong class="text-6xl text-white hover:no-underline">{{ h.SI_number_span(stats.organization_count) }}</strong>
                <br>
                    {{ _('organization') if stats.organization_count == 1 else _('organizations') }}
                </a>
            </div>
        {% endblock %}
        </div>
    </div>
</div>