{% set stats = h.get_site_statistics() %}

<div class="col-12 full-width bg-subak-deep-ocean">
    <div class="container p-4 md:p-16">
        <h2 class="mt-0 text-2xl text-white">Subak Data Catalogue Statistics</h2>
        {% block stats_group %}
        <div class="grid grid-cols-2 gap-12 p-12">
            <div class="flex justify-center">
                <a href="{{ h.url_for('dataset.search') }}" class="flex flex-col items-center text-white no-underline">
                    <strong class="text-6xl text-white hover:no-underline">{{ h.SI_number_span(stats.dataset_count) }}</strong>
                    <span>{{ _('dataset') if stats.dataset_count == 1 else _('datasets') }}</span>
                </a>
            </div>
            <div class="flex justify-center">
                <a href="{{ h.url_for(controller='organization', action='index') }}" class="flex flex-col items-center text-white no-underline">
                    <strong class="text-6xl text-white hover:no-underline">{{ h.SI_number_span(stats.organization_count) }}</strong>
                    <span>{{ _('organization') if stats.organization_count == 1 else _('organizations') }}</span>
                </a>
            </div>
        {% endblock %}
        </div>
    </div>
</div>