{% ckan_extends %}

{% block content_primary_nav %}
  {{ super() }}
  <ul class="nav nav-tabs">
    {% if c.userobj.sysadmin %}
      <li>
        <a href="{{ h.url_for('admin.index') }}" title="{{ _('Sysadmin settings') }}">
          <i class="fa fa-gavel" aria-hidden="true"></i>
          <span class="text">{{ _('Admin') }}</span>
        </a>
      </li>
    {% endif %}
    <li>
      <a href="{{ h.url_for('user.logout') }}" title="{{ _('Log out') }}">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <span class="text">{{ _('Log out') }}</span>
      </a>
    </li>
  </ul>
{% endblock %}

{% block primary_content_inner %}
  {% if h.user_unverified() %}
    {% snippet "user/snippets/unverified_user_warning.html" %}
  {% elif not h.organizations_available() %}
    {% snippet "user/snippets/no_orgs_user_notice.html" %}
  {% endif %}
  {{ super() }}
{% endblock %}



