{% ckan_extends %}

{% block organization_facets %}
  <div class="filters">
    <div class="p-6 pt-2 md:p-0 md:pt-0">
      <h2 class="mt-0">Filters</h2>
      {% for facet in facet_titles %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, extras={'id':group_dict.id}, search_facets=search_facets) }}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}
