{% extends "page.html" %}

{% block title %}{{ _('Climate Data Research') }} - {{ super() }}{% endblock %}

{% block breadcrumb_content %}
    <li>{{ h.nav_link(_('Climate Data Research'), named_route='custom_pages.climate_data_research') }}</li>
{% endblock %}

{% block content %}
<div>
    {% block primary_content %}
    <div class="container py-6">
        <div class="flex gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20 h-20 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
            </svg>
            <div class="text-white">
                <h1 class="text-4xl">Climate Data Research</h1>
                <span class="font-mono uppercase">Original research on climate data topics produced by Subak</span>
            </div>
        </div>
    </div>
    {% block toolbar %}
    {{ super() }}
    {% endblock%}

    <div class="bg-gradient-to-br from-slate-50 to-slate-200">
        <div class="container flex flex-col gap-6">
            <div id="introduction" class="flex flex-col bg-white shadow-md md:flex-row">
                <img class="flex-shrink-0 object-cover w-full h-32 md:w-1/3 md:h-auto" src="/images/climate-data-research-header.jpg" />
                <div class="p-8">
                    <h2 class="mt-0">Introduction</h2>
                    <p class="text-lg text-slate-600">Subak regularly conducts Climate Data Research Initiatives (CDRI's) - periodic deep dives on key neglected climate topics. These initiatives highlight high-impact climate datasets and provide key contextual information on the data landscape for a varity of climate-related topics. We undertake desk-based research and conduct interviews with data producers and data consumers on specific climate topics, asking who (produces data?), the what (data is missing/hard to access?), and the why (this might be?).</p>
                </div>
            </div>

            <h2 class="text-slate-400">Recent reports</h2>
            <div class="relative flex flex-col gap-4 py-8 pl-16 pr-8 shadow-md bg-red-50">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute w-20 h-20 -top-6 -left-6 -rotate-6 text-subak-burnt-copper">
                    <path fill-rule="evenodd" d="M5.625 1.5H9a3.75 3.75 0 013.75 3.75v1.875c0 1.036.84 1.875 1.875 1.875H16.5a3.75 3.75 0 013.75 3.75v7.875c0 1.035-.84 1.875-1.875 1.875H5.625a1.875 1.875 0 01-1.875-1.875V3.375c0-1.036.84-1.875 1.875-1.875zM9.75 17.25a.75.75 0 00-1.5 0V18a.75.75 0 001.5 0v-.75zm2.25-3a.75.75 0 01.75.75v3a.75.75 0 01-1.5 0v-3a.75.75 0 01.75-.75zm3.75-1.5a.75.75 0 00-1.5 0V18a.75.75 0 001.5 0v-5.25z" clip-rule="evenodd" />
                    <path d="M14.25 5.25a5.23 5.23 0 00-1.279-3.434 9.768 9.768 0 016.963 6.963A5.23 5.23 0 0016.5 7.5h-1.875a.375.375 0 01-.375-.375V5.25z" />
                </svg>                  
                <div class="flex items-end justify-between gap-2">
                    <h3 class="my-0 text-2xl">Power plants: State of the data lanscape</h2> 
                    <span class="font-mono text-gray-500">Feb 2023</span>
                </div>
                <div class="flex flex-col items-start justify-between gap-6 sm:flex-row">
                    <p>One of Subak's core objectives is to identify, aggregate, and index high quality climate data to facilitate cross collaboration on climate issues, but we can't do it in a vacuum. We interviewed 12 data professionals working for leading energy organisations, and institutions across the globe to understand their perspectives on the power plant data landscape - the who (has the data?), the what (are we missing?), and the why. Unsurprisingly, there's a lot to be improved upon, from data gaps in South and South-East Asia, to better and more persistent data assets, and building better relationships between data users and producers. We highlight these three respective findings in this report, the first of many to come, and offer some key conclusions for the how (we can get there).</p>
                    <a class="px-4 py-2 text-xl text-white no-underline bg-opacity-100 rounded bg-subak-burnt-copper whitespace-nowrap hover:bg-opacity-80" href="#">Download the report</a>
                </div>
            </div>
            
        </div>
    </div>

    {% endblock %}
</div>
{% endblock %}

