{% ckan_extends %}

{% block heading_title %}
    <div class="flex justify-between gap-2">
        <a href="{{ h.url_for('%s.read' % package.type, id=package.name) }}">
        {{ title }}
        </a>
        {% if c.userobj %}
        <div class="whitespace-nowrap">
            <span role="button"
            tabindex="0"
            title="Up/Down voting" 
            data-target="popover" 
            data-content="<p>By up/down voting, you influence the search results within the data catalogue. This will help other users to more easily find great datasets and de-rank poor datasets.</p>" 
            data-placement="left"
            data-html="true"
            data-trigger="hover">
                {% snippet "snippets/voting.html", pkg=package %}
            </span>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block heading %}
{{ super() }}
<h3 class="flex gap-1 my-2 text-sm">{% if package.organization.image_url %}
    <img class="max-h-5" src="{% if h.is_url(package.organization.image_url) %}{{ package.organization.image_url }}{% else %}/uploads/group/{{ package.organization.image_url }}{% endif %}" />
    {% endif %}
    <a class="text-slate-500" href="{{ h.url_for(package.organization.type ~ '.read', id=package.organization.name) }}">{{ package.organization.title }}</a>
</h3>
{% endblock %}

{% block resources %}
<div class="flex mb-2">
    <div class="flex-auto">
        {{ super() }}
    </div>
    {% if 'freshness_score' in h %}
    <div class="flex-auto text-right">
        {% set freshness_score = h.freshness_score(package) %}
        {% set freshness_colour_classes = ['text-red-600', 'text-orange-600', 'text-yellow-600', 'text-lime-600', 'text-green-600'] %}
        {% set freshness_tooltip = '<p class="break-normal">This score represents how recently one or more of the data resources was last updated.</p>
                                    <ul>
                                        <li>5: &lt; 6 months</li>
                                        <li>4: &lt; 12 months</li>
                                        <li>3: &lt; 18months</li>
                                        <li>2: &lt; 24 months</li>
                                        <li>1: &gt; 24 months</li>
                                    </ul>' %}
        {% if freshness_score > 0 %}
            <span role="button"
                    tabindex="0"
                    title="Dataset freshness score" 
                    data-target="popover" 
                    data-content="{{ freshness_tooltip }}" 
                    data-placement="left"
                    data-html="true"
                    data-trigger="hover">
                <svg xmlns="http://www.w3.org/2000/svg" class="relative inline w-5 h-5 -top-px" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
                </svg> 
                <span class="underline decoration-dashed">{{ _('Dataset freshness') }}</span>
            </span>:
            <span class="font-bold text-xl {{ freshness_colour_classes[freshness_score - 1] }}">{{ freshness_score }}<span class="text-base text-gray-400">/5</span></span>
        {% endif %}
    </div>
    {% endif %}
</div>
{% snippet "snippets/subak_coop_badge.html", package=package %}
{% endblock %}