{% if c.userobj %}
<div id="voting" class="relative">
    <a class="no-underline {% if h.user_has_upvoted_dataset(pkg.id) %}text-green-700{% elif h.user_has_downvoted_dataset(pkg.id) %}text-slate-300{% else %}text-slate-600{% endif %}" 
        href="#"
        hx-post="{{ h.url_for('voting.dataset_vote', pkg_name=pkg.name, vote_type='up', size=size) }}"
        hx-target="closest #voting"
        hx-indicator="closest #voting"
        hx-swap="outerHTML">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline {% if size == 'large' %}w-8 h-8{% else %}w-5 h-5{% endif %}" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
        </svg>
    </a>
    <a class="no-underline {% if h.user_has_downvoted_dataset(pkg.id) %}text-red-700{% elif h.user_has_upvoted_dataset(pkg.id) %}text-slate-300{% else %}text-slate-600{% endif %}" 
        href="#"
        hx-post="{{ h.url_for('voting.dataset_vote', pkg_name=pkg.name, vote_type='down', size=size) }}"
        hx-target="closest #voting"
        hx-indicator="closest #voting"
        hx-swap="outerHTML">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline {% if size == 'large' %}w-8 h-8{% else %}w-5 h-5{% endif %}" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10 14H5.236a2 2 0 01-1.789-2.894l3.5-7A2 2 0 018.736 3h4.018a2 2 0 01.485.06l3.76.94m-7 10v5a2 2 0 002 2h.096c.5 0 .905-.405.905-.904 0-.715.211-1.413.608-2.008L17 13V4m-7 10h2m5-10h2a2 2 0 012 2v6a2 2 0 01-2 2h-2.5" />
        </svg>
    </a>
    <div id="loading-spinner" class="absolute top-0 left-0 {% if size == 'large' %}px-5{% else %}px-3{% endif %} bg-white htmx-indicator">
        <svg xmlns="http://www.w3.org/2000/svg" class="animate-spin inline text-slate-600 {% if size == 'large' %}w-8 h-8{% else %}w-5 h-5{% endif %}" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
        </svg>
    </div>
</div>
{% endif %}