{% ckan_extends %}

{% block primary_content %}
  <section class="module">
    <div class="">
      {% block page_primary_action %}
        {{ super() }}
      {% endblock %}

      {% block form %}
        {{ super() }}
      {% endblock %}

      {% block package_search_results_list %}
        {{ super() }}

        <div class="mt-8 border rounded border-subak-deep-ocean">
            <div class="p-3 text-lg bg-slate-200 text-subak-deep-ocean">
                <svg xmlns="http://www.w3.org/2000/svg" class="relative inline w-8 h-8 -top-px" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M9 3a1 1 0 012 0v5.5a.5.5 0 001 0V4a1 1 0 112 0v4.5a.5.5 0 001 0V6a1 1 0 112 0v5a7 7 0 11-14 0V9a1 1 0 012 0v2.5a.5.5 0 001 0V4a1 1 0 012 0v4.5a.5.5 0 001 0V3z" clip-rule="evenodd" />
                </svg> Can't find the dataset you're looking for?
            </div>
            <div class="flex flex-col items-center justify-between gap-4 p-4 md:flex-row font-body">
                <p class="m-0">We aim to constantly improve the data catalogue to help you find climate-related datasets. If you can't find a dataset that fits your needs, please file a request and we will try our best to find and index one or more suitable datasets.</p>
                <a class="px-3 py-2 text-white no-underline rounded bg-gradient-to-br from-subak-deep-ocean to-subak-meadow-teal font-default whitespace-nowrap" 
                   href="https://airtable.com/shrakRbosU1b6QjLZ">
                    Request a dataset
                </a>
            </div>
            </div>
        {% endblock %}
    </div>

    {% block page_pagination %}
      {{ super() }}
    {% endblock %}
  </section>

  {% block package_search_results_api %}
    {{ super() }}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
    <div class="filters">
        <div class="p-6 pt-2 md:p-0 md:pt-0">
          <h2 class="mt-0">Filters</h2>
          {% for facet in facet_titles %}
            {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, search_facets=search_facets) }}
          {% endfor %}
        </div>
        <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
      </div>
{% endblock %}